/*Tous les styles seront à écrire ici*/
body {
	font-family: 'Montserrat', sans-serif;
}

a {
	color: #485156 !important; /*dark grey*/
}

a:hover {
	color :#81BD5B !important; /*vert*/
}

/*Barre de navigation du header*/
.navbar {
	background-color: white;
	border-bottom: none;
	padding-top: 30px;
	padding-bottom: 20px;
}

li+li { 
	border-left: 1px solid grey;
}

.logo {
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
	margin-top: -17px;
}

/*Footer*/
footer {
	color: white;
    background: #4A4A4A; /*dark grey*/
    line-height: 24px;
    padding: 25px;
}