{# Partie Comment fonctionne l'application #}
<div id="partFonctionnement" class="container">
	<h1 class="text-center" style="color: #81BD5B;">COMMENT FONCTIONNE L'APPLICATION</h1>
	<p class="text-center">Étape de saisie d'observation d'oiseau</p>
	<hr id="hrSpecial">

	<div class="row">
		<div class="col-sm-3 col-xs-6 text-center boiteFonctionnement">
			{# icone #}
			<div class="cercleVert"><i class="glyphicon glyphicon-eye-open iconFonctionnement"></i></div> <br>
			<h4>OBSERVATION</h4>
			{# hr vert et petit #}
			<hr class="hrFonctionnement">
			<p class="paragraphes">
			Le nom des différentes espèces est basé sur les données TAXREF. La première étape consiste à rechercher le nom de l'oiseau
			observé. Saisissez au minimum 3 lettres (nom en français) pour accéder à la liste correspondante. Faites votre choix dans la liste et
			cliquez sur "Choisir cet oiseau".
			</p>
		</div>
		<div class="col-sm-3 col-xs-6 text-center boiteFonctionnement">
			<div class="cercleVert"><i class="glyphicon glyphicon-list-alt iconFonctionnement"></i></div> <br>
			<h4>SAISIE</h4>
			<hr class="hrFonctionnement">
			<p class="paragraphes">
			Complétez les données de votre observation:</br>
			la date de l'observation, l'heure de l'observation, la latitude et la longitude en saisissant les données directement
			ou en cliquant sur la carte, le nombre d'individus observés.</br>
		  Si vous le souhaitez, vous pouvez compléter votre observation par une photo et un commentaire, puis cliquez sur "Envoyer la saisie"
			</p>

		</div>
		<div class="col-sm-3 col-xs-6 text-center boiteFonctionnement">
			<div class="cercleVert"><i class="glyphicon glyphicon-random iconFonctionnement"></i></div> <br>
			<h4>SUIVI</h4>
			<hr class="hrFonctionnement">
			<p class="paragraphes">
			Le suivi de vos observations est accessible via l'onglet "Mon compte". Il vous permet de visualiser le statut des observations
			que vous avez effectuées. Celles-ci sont soit: validées, en attente de validation ou rejetées.
			</p>
		</div>
		<div class="col-sm-3 col-xs-6 text-center boiteFonctionnement">
			<div class="cercleVert"><i class="glyphicon glyphicon-ok iconFonctionnement"></i></div> <br>
			<h4>VALIDATION</h4>
			<hr class="hrFonctionnement">
			<p class="paragraphes">
			La validation des observations est effectuée par des ornithologues professionnels habilités par l'Association NAO.
			</p>
		</div>
	</div>
</div>
