{# Hérite de la vue parente situé app/Resources/views/base.html.twig #}
{% extends "::base.html.twig" %}

{% block body %}
{# Partie Recherche Oiseau #}
<div id="rechercheOiseau" style="background-color: rgba(72,81,86, 0.1); padding-bottom: 15px">
	<div class="container">
		<h2 class="text-center">RECHERCHER UNE ESPÈCE D'OISEAU</h2>
		<hr>	

		{# Formulaire de recherche #}
		<div class="col-xs-12">
			Ici sera le formulaire de recherche
		</div>
		{# Bouton #}
		<div class="text-center">
			<button class="btn btn-success btn-lg">Lancer la recherche</button>
		</div>
	</div>
</div>
{% endblock %}
