{# Partie A propos #}
<div id="partPropos" style="background-color: rgba(72,81,86, 0.1); padding-bottom: 25px">
	<div class="container">
		<h1 class="text-center" style="color: #81BD5B; margin-top: 35px">À PROPOS</h1>
		<p class="text-center">Présentation de l'association NAO</p>
		<hr>

		<div class="row">
			{# Image à propos #}
			<div class="col-sm-6">
				<img src="{{ asset('images/a-propos.png') }}" alt="A propos" class="imgPropos">
			</div>
			
			{# A votre écoute #}
			<div class="col-offset-sm-1 col-sm-5">
				<h4 style="padding-top: 0; margin-top: 0; margin-bottom: 15px"><strong>L'ASSOCIATION NAO</strong></h4>
				<p class="paragraphes">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sapiente dolore enim ipsa, tempora dolor quis quasi dolorum! Quisquam aperiam sint nihil cum eligendi fuga consectetur dolorum, architecto, vel quidem!
				</p>
				<p class="paragraphes">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sapiente dolore enim ipsa, tempora dolor quis quasi dolorum! Quisquam aperiam sint nihil cum eligendi fuga consectetur dolorum, architecto, vel quidem!
				</p>				
			</div>				
		</div>
	</div>
</div>