{# Partie A propos #}
<div id="partPropos" class="part">
	<div class="container">
		<h1 class="text-center divh1">À PROPOS</h1>
		<p class="text-center">Présentation de l'association NAO</p>
		<hr>

		<div class="row">
			{# Image à propos #}
			<div class="col-sm-6">
				<img src="{{ asset('images/a-propos.png') }}" alt="A propos" class="imgPropos">
			</div>

			{# A votre écoute #}
			<div class="col-offset-sm-1 col-sm-5">
				<h4><strong>L'ASSOCIATION NAO</strong></h4>
				<p class="paragraphes">
				Nos amis les oiseaux est une association loi 1901 .Crée en 1995, elle à pour mission la protection des espèces
				et la préservation de leur habitat, l'éducation et la sensibilisation à l'environnement.
				<p class="paragraphes">
				En 2017, elle a mis en place une plateforme participative pour la saisie d'observations ornithologiques
				et leur mise en commun. Les participants à ce projet contribueront à un programme de recherche visant à
				étudier les effets du climat, de l'urbanisme et de l'agriculture sur la biodiversité.
				</p>
				</p>
			</div>
		</div>
	</div>
</div>
