{# Partie Comment fonctionne l'application #}
<div id="partFonctionnement" class="container">
	<h1 class="text-center" style="color: #81BD5B;">COMMENT FONCTIONNE L'APPLICATION</h1>
	<p class="text-center">Étape de saisie d'observation d'oiseau</p>
	<hr id="hrSpecial">

	<div class="row">
		<div class="col-sm-3 col-xs-6 text-center boiteFonctionnement">
			{# icone #}
			<div class="cercleVert"><i class="glyphicon glyphicon-eye-open iconFonctionnement"></i></div> <br>
			<h4>OBSERVATION</h4>
			{# hr vert et petit #}
			<hr class="hrFonctionnement">
			<p class="paragraphes">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ipsum ducimus itaque optio recusandae sit excepturi quae voluptatem a consequuntur delectus asperiores, dignissimos. Sapiente sed quae, explicabo laboriosam vel qui!
			</p>
		</div>
		<div class="col-sm-3 col-xs-6 text-center boiteFonctionnement">
			<div class="cercleVert"><i class="glyphicon glyphicon-list-alt iconFonctionnement"></i></div> <br> 
			<h4>SAISIE</h4>
			<hr class="hrFonctionnement">
			<p class="paragraphes">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ipsum ducimus itaque optio recusandae sit excepturi quae voluptatem a consequuntur delectus asperiores, dignissimos. Sapiente sed quae, explicabo laboriosam vel qui!
			</p>				
		</div>
		<div class="col-sm-3 col-xs-6 text-center boiteFonctionnement">
			<div class="cercleVert"><i class="glyphicon glyphicon-random iconFonctionnement"></i></div> <br> 
			<h4>SUIVI</h4>
			<hr class="hrFonctionnement">
			<p class="paragraphes">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ipsum ducimus itaque optio recusandae sit excepturi quae voluptatem a consequuntur delectus asperiores, dignissimos. Sapiente sed quae, explicabo laboriosam vel qui!
			</p>				
		</div>
		<div class="col-sm-3 col-xs-6 text-center boiteFonctionnement">
			<div class="cercleVert"><i class="glyphicon glyphicon-ok iconFonctionnement"></i></div> <br>
			<h4>VALIDATION</h4>
			<hr class="hrFonctionnement">
			<p class="paragraphes">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ipsum ducimus itaque optio recusandae sit excepturi quae voluptatem a consequuntur delectus asperiores, dignissimos. Sapiente sed quae, explicabo laboriosam vel qui!
			</p>				
		</div>
	</div>
</div>