{# Hérite de la vue parente situé app/Resources/views/base.html.twig #}
{% extends "::base.html.twig" %}

{% block body %}
{# Partie Saisie Oiseau #}
<div id="saisieOiseau" style="background-color: rgba(72,81,86, 0.1); padding-bottom: 15px">
	<div class="container">
		<h2 class="text-center" style="margin-top: 35px">SAISIR UNE OBSERVATION D'OISEAU</h2>
		<hr>	

		{# Formulaire de saisie #}
		<div class="col-xs-12">
			Ici sera la saisie
		</div>
		{# Bouton #}
		<div class="text-center">
			<button class="btn btn-success btn-lg">Envoyer la saisie</button>
		</div>
	</div>
</div>
{% endblock %}